# OS / Editor
.DS_Store
Thumbs.db
*.log
*.tmp
.vscode/
.idea/

# Environment
.env
.env.local
*.env
**/.env

docs/
**/docs
# Go build
bin/
*.exe
*.out
*.test
*.dll
*.so
*.dylib

# React / Node
node_modules/
build/
dist/
.cache/
coverage/

# Dependency folders
**/node_modules/
**/vendor/

# Misc
*.swp

# .gitignore
.env
